

    <div class="container" style="margin-top: 26px;">
      
      <div class="row" style="height: 100%">
      
        <div class="col-md-2">
          <aside>
            <header style="height: 70px;">
              <div class="media">
                <a class="pull-left" href="#">                  
                  <img class="media-object" width="50" src="https://app.divshot.com/img/placeholder-64x64.gif">  </a>
                  <div class="media-body">
                    <h6 class="media-heading">Gabriel M. Prado</h6>
                    <h6>Editar perfil</h6>
                  </div>
              </div>
            </header>
            <section>
              <div class="aside-menu">
                <h6>PRINCIPAL</h6> 
                <ul style="list-style-type: none; padding-left: 6px;">
                  <li>
                    <span class="glyphicon glyphicon-ok-circle"></span> Perguntas</li>
                  <li>
                    <span class="glyphicon glyphicon-signal"></span> Previs&otilde;es</li>
                </ul>
              </div>
            </section>
            <section>
              <div class="aside-menu">
                <h6>RANKING</h6> 
                <ul style="list-style-type: none; padding-left: 6px;">
                  <li>
                    <strong>1.</strong> 
                    <img src="https://app.divshot.com/img/placeholder-64x64.gif" style="display: inline-block; margin-bottom: 4px;" width="24">
                     Gabriel M. Prado
                  </li>
                  <li>
                    <strong>2.</strong> 
                    <img src="https://app.divshot.com/img/placeholder-64x64.gif" style="display: inline-block; margin-bottom: 4px;" width="24">
                     Gabriel M. Prado
                  </li>
                  <li>
                    <strong>3.</strong> 
                    <img src="https://app.divshot.com/img/placeholder-64x64.gif" style="display: inline-block; margin-bottom: 4px;" width="24">
                     Gabriel M. Prado
                  </li>
                  <li>
                    <strong>4.</strong> 
                    <img src="https://app.divshot.com/img/placeholder-64x64.gif" style="display: inline-block; margin-bottom: 4px;" width="24">
                     Gabriel M. Prado
                  </li>
                </ul>
              </div>
            </section>
          </aside>
        </div>
      
        <div class="col-md-8">
          <header style="height: 70px;">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Pesquisar perguntas...">
              <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            </div>
          </header>
          <section>
            <div class="row">
              <div class="col-xs-2">
                <a href="#">
                  <img class="media-object" src="https://app.divshot.com/img/placeholder-64x64.gif">
                </a>
              </div>
              <div class="col-xs-7">
                <label style="margin-left: 5px;">Quem vai se classificar entre Atl&eacute;tico-MG e Botafogo?</label>    
                <a class="btn btn-link btn-xs"> Atl&eacute;tico-MG <span class="badge">35</span></a>
                <a class="btn btn-link btn-xs"> Botafogo <span class="badge">25</span></a>
                <a class="btn btn-link btn-xs"> Botafogo <span class="badge">25</span></a>
                <a class="btn btn-link btn-xs"> Botafogo <span class="badge">25</span></a>
                <a class="btn btn-link btn-xs"> Botafogo <span class="badge">25</span></a>
                <a class="btn btn-link btn-xs"> Botafogo <span class="badge">25</span></a>
                <div style="margin-top: 15px;">
                  <textarea class="form-control" rows="1" placeholder="Escreve um comentário para a previsão..."></textarea>
                  <div>
                    <small class="">Confiança da previsão: </small>
                    <i class="icon-star-empty"></i>
                    <i class="icon-star-empty"></i>
                    <i class="icon-star-empty"></i>
                    <i class="icon-star-empty"></i>
                    <i class="icon-star-empty"></i>
                    <a class="btn btn-primary btn-sm disabled">Prever</a> 
                  </div>                            
                </div>
              </div>
              <div class="col-xs-3">
                <small class="text-muted">Quem tamb&eacute;m previu:</small>
                <div>
                  <img src="https://app.divshot.com/img/placeholder-64x64.gif" style="display: inline-block; margin-bottom: 4px;" width="36">
                  <img src="https://app.divshot.com/img/placeholder-64x64.gif" style="display: inline-block; margin-bottom: 4px;" width="36">
                </div> 
              </div>
            </div>
            <hr>
          </section>
        </div>
        <div class="col-md-2">
          <aside>
            <section></section>
          </aside>
        </div>
      </div>
    </div>
  