<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
        <div class="col-lg-6">
        	<h2>Seja bem vindo ao Webiseum!</h2>
        	<p>
		    	Saiba antes: Descubra um novo jogo social de previsões.
		    </p>
        </div>
        <div class="col-lg-6">
        	<p>Acesse por diversas redes sociais! Mais facilidade no Login...</p>
		    <ul class="text-center list-unstyled">
  				<li><strong>FACEBOOK</strong></li>
  				<li><strong>TWITTER</strong></li>
  				<li><strong>GOOGLE +</strong></li>
			</ul>
        </div>
    </div>
  </div>
</div>

<div class="container marketing">
	<div class="row">
        <div class="col-lg-4">
        	<div class="thumbnail" style="border: 0px;">
				<img src="http://upload.wikimedia.org/wikipedia/commons/2/25/Ps-x-button.png" class="text-center" alt="" width="80">
				<div class="caption">
					<h4 class="text-center">Social</h4>
					<p class="text-center">
						Faça e compartilhe suas previsões. Confira os palpites de seus amigos!
					</p>
				</div>
			</div>
        </div>
        <div class="col-lg-4">
        	<div class="thumbnail" style="border: 0px;">
				<img src="http://upload.wikimedia.org/wikipedia/commons/2/25/Ps-x-button.png" class="text-center" alt="" width="80">
				<div class="caption">
					<h4 class="text-center">Diversos assuntos</h4>
					<p class="text-center">
						Futebol, Televisão, Política... Jogue sobre seus temas favoritos.
					</p>
				</div>
			</div>
        </div>
        <div class="col-lg-4">
			<div class="thumbnail" style="border: 0px;">
				<img src="http://upload.wikimedia.org/wikipedia/commons/2/25/Ps-x-button.png" class="text-center" alt="" width="80">
				<div class="caption">
					<h4 class="text-center">Ranking e prêmios</h4>
					<p class="text-center">
						Você ganha pontos se acertar previsões, sobe nos rankings e pode ganhar prêmios!
					</p>
				</div>
			</div>	
        </div>
      </div>
  </div>	