<div class="container">

	<h3 class="form-signin-heading">Login Webiseum</h3>
	<div class="well well-lg">
		<form class="">
			<input type="text" class="form-control" placeholder="E-mail ou usuário" autofocus></br>
			<input type="password" class="form-control" placeholder="Senha"></br>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Acesse</button>
		</form>
	</div>

	<div class="panel panel-default">
	  <div class="panel-body">
	    <a href="/auth/facebook" class="btn btn-primary btn-lg btn-block"><i class="icon-facebook icon-large"> Facebook</i></a>
		<a class="btn btn-primary btn-lg btn-block"><i class="icon-google-plus icon-large"> Google+</i></a>
		<a class="btn btn-primary btn-lg btn-block"><i class="icon-twitter icon-large"> Twitter</i></a>
	  </div>
	</div>
</div>