<script>
    $( document ).ready(function() {
        setTimeout('redirectToUrl()', 2000)
    });

    function redirectToUrl(){
        window.location = "/"
    }
</script>

<div class="container text-center">

  <p><i class="fa fa-thumbs-o-up fa-5x"></i></p>
  <span>Seja bem-vindo ao Webiseum! Aguarde um segundo que será redirecionado...</span>
  <p><i class="fa fa-spin fa-spinner fa-3x"></i></p>
</div>