<script>
    $( document ).ready(function() {
        setTimeout('redirectToUrl()', 2000)
    });

    function redirectToUrl(){
        window.location = "/"
    }
</script>

<div class="container text-center">

  <p><i class="fa fa-thumbs-o-up fa-5x"></i></p>
  <span>Seja bem-vindo ao Webiseum! Aguarde um segundo que será redirecionado...</span>
  <p><i class="fa fa-spin fa-spinner fa-3x"></i></p>
</div>

<!-- Google Code for Novos usuarios Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 987671233;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "e2CfCI-NsQYQwdX61gM";
var google_conversion_value = 0;
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/987671233/?value=0&amp;label=e2CfCI-NsQYQwdX61gM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
