<script>
    $( document ).ready(function() {
        setTimeout('redirectToUrl()', 2000)
    });

    function redirectToUrl(){
        window.location = "/"
    }
</script>

<div class="container text-center">

  Aguardo vc esta sendo redirecionado
</div>