<div class="container" style="margin-top: 20px;">

  <div class="row">
    <div class="col-md-6 col-md-offset-3">

        <div class="panel panel-default ">
          <div class="panel-body">
            <div class="page-header">
              <h2>Cadastre-se</h2>
            </div>

            <div style="text-align:center;">
                <p>Cadastre-se utilizando sua rede social preferida:</p>
                <a href="/auth/facebook" class="btn btn-primary btn-lg" style="background-color: #3b5998; border: 0px;"><i class="icon-facebook icon-large"> Facebook</i></a>
                <a class="btn btn-primary btn-lg" style="background-color: #cb2027; border: 0px;"><i class="icon-google-plus icon-large"> Google+</i></a>
                <a class="btn btn-primary btn-lg" style="background-color: #00aced; border: 0px;"><i class="icon-twitter icon-large"> Twitter</i></a>
            </div>

            <hr>

            <div>
              <p>Cadastre-se utilizando seu e-mail pessoal:</p>
              <form class="">
                <input type="text" class="form-control" placeholder="E-mail ou usuário" autofocus></br>
                <input type="password" class="form-control" placeholder="Senha"></br>
                <button class="btn btn-lg btn-primary btn-sm pull-right" type="submit">Cadastre</button>
              </form>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>