<div class="well well-small">
  Usuários
</div>

<% @users.try(:each) {|u| %>

  <div class="row">
    <div class="span8">
        <p>
          <%= image_tag u.image_type(:thumb), class: 'img-circle', size: '46' %>
          <a href="<%= social_search_path(u) %>" class="">
            <%= u.name %>
          </a>
        </p>
      </hr>
    </div>
  </div>

<% } %>
