
<h1><small>Minhas previsões</small></h1>
<hr>

<% @forecasts.try(:each) {|f| %>

    <article>
      <div class="row">
        <div class="col-xs-10">
          <blockquote>
            <p>
              <%= image_tag f.user.image_type(:thumb), size: '46' %>
              <strong> <%= f.user.name %></strong> previu <em><%= f.answer %></em> para</p>
            <small><%= f.question.title %></small>
          </blockquote>
        </div>
        <div class="col-xs-2">
          <a href="#">
            <img class="media-object" src="https://app.divshot.com/img/placeholder-64x64.gif">
          </a>
        </div>
      </div>
      <hr>
    </article>
<% } %>
