/*
 * CSS imports
 * http://stackoverflow.com/questions/7134034/using-rails-3-1-assets-pipeline-to-conditionally-use-certain-css
 * 
 *= require twitter/bootstrap.css
 *= require font-awesome/font-awesome.css
 *= require_self
 */
 .navbar-align-logo {
	padding: 20px 30px;
}
.navbar-align-info ul {
	margin-top: 18px;
}
.navbar-align-info button {
	margin-top: 8px;
}
.connect-with-button {
	margin-right: 10px;
	width: 130px;
}