@import 'application.css.less';

/*
 * CSS imports webs
 *
 *= require_self
 */

@linkColor:                         @greenLight;

body {
  margin-top: 40px;
}

.marketing {
  background-image:url(https://s3.amazonaws.com/wbsm_stg/features_1277_468.png?AWSAccessKeyId=ASIAIF7JL4LSYRWMWMAA&Expires=1385349320&Signature=LLyFqP%2BXU7Zc7GEJKA2gGsUO19E%3D&x-amz-security-token=AQoDYXdzEDoawALfBRZ4NCZQqMudO7VyPXG8U5%2Btz3NOe/m3JOU5uGIRRxsn9kIFUY7MHrhIwkEIgptonPzuvXqlf%2B5V1zW2PqI/Q6vpkhQUrRuli7s7J66Mh4VIjC0BgSSHLBZu1MBB84pDFU7/oUbqwaPAtAch8xs5ftJ0zI4tMkDbIX5jnnUSCToENsdX8ZIEoZVzu0IdeubT/wPoPZBIzdxIYj%2BAHlznqaECK4vgejCndocBtWiXJynLqctQRocpa2hppI/Rtt6Z0sdpQipC4OED9gGYur80bhOYZuaofawWJw7D9ElIhf0ucsp79I3yl6MchwGMXIrEwv4hnF%2B%2BMwR02bQ33RzdRc1sYTTOoJVOHJ7Et6bdPSYJ78QtE50%2BkQFxwE7HDC4Vil2wzQQwJcSz6ePplTmwDaB72ObXRxom2yAClvfXOCCcxsqUBQ%3D%3D);
  height: 468px;

  .marketing-text {
    text-align: center;
  }
}

.sub-marketing {

  .span4 {
    text-align: center;

    p {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  h2 {
    font-weight: normal;
  }

}

.social-login {
  a {
    &.facebook {
      background-color: #3b5998;
      color: white;
    }

    &.google {
      background-color: #cb2027;
      color: white;
    }


  }
}