<!DOCTYPE html>
<html>
<head>
  <title>Webiseum</title>
  <%= stylesheet_link_tag    "webiseum", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "webiseum", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= yield %>

</body>
</html>