<!DOCTYPE html>
<html>
<head>
  <title>Webiseum</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "webiseum", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "webiseum", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= yield %>

</body>
</html>